main {
    margin: 0 24px;
  }
.principal {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; 
    align-items:flex-start
}

.galeria {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 17%;
}